@import "tailwindcss";


@theme {
  --color-brand-pink-light:  #EB50AD;
  --color-brand-pink-dark: #4E2A50;
  --color-title-light: #E6EBF5;
  --color-title-dark: #120E1A;
  --color-description-dark: #9D94AB;
  --color-description-light: #716880;
  --color-text-white: #F9F9FB;
  --color-text-pink: #FF59BD;
  --color-gradient-secondary: #6E3A70;
  --color-block-background: rgba(230, 235, 245, 0.04); 
}
